name: Prueba y Despliegue

on:
  push:
    branches:
      - main

permissions:
  contents: read


jobs:
  test-deploy:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES__USER: POST
          POSTGRES_PASSWORD: PSOT
          POSTGRES_DB: DB
        ports:
          - 5432:5432

    env:
      POSTGRES__USER: POST
      POSTGRES_PASSWORD: PSOT
      POSTGRES_DB: DB
      SQLALCHEMY_DATABASE_URI: prueba



    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set Up Python
        uses: : actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Esperar a Postgres
        run: |
          echo "Esperando a que PostgreSQL este listo..."
                    # Intenta conectarse al puerto 5432 del servicio 'postgres'


                    for i in $(seq 1 30); do
                      nc -vz localhost 5432 && break # <--- CAMBIADO 'postgres' a 'localhost'
                      echo "PostgreSQL is still unavailable - sleeping for 1 second..."
                      sleep 1
                    done

                    # Verificar si la conexión fue exitosa después de los intentos
                    if ! nc -vz localhost 5432; then # <--- CAMBIADO 'postgres' a 'localhost'
                      echo "PostgreSQL no estuvo listo a tiempo. Exiting."
                      exit 1
                    fi
                    echo "PostgreSQL is up and running!"

      - name: Correr migraciones
        run: flask db upgrade

      - name: Cacheo de dependencias para Node
        uses: : actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
       

      - name: Install StepCI globally
        run: npm install -g stepci@2.8.2


      - name: Run Flask manually in background with log
        run: |
          python app.py > flask.log 2>&1 &
          sleep 5
              

      - name: Esperar a que inicie el servidor de flask
        run: |
          echo "Esperando que Flask arranque..."
          for i in {1..10}; do
            curl -s http://localhost:5000/ && break || sleep 1
          done                  
