name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_pass
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          SQLALCHEMY_DATABASE_URI: postgresql://test_user:test_pass@localhost:5432/test_db
          JWT_SECRET_KEY: test-secret-key
          SECRET_KEY: test-secret
          FLASK_ENV: testing
        run: |
          pip install pytest==7.4.3 
          pip install pytest-cov==4.1.0
          pytest --maxfail=1 -v --cov=app --cov-report=html --cov-report=term

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME_API }}
          password: ${{ secrets.DOCKER_PASSWORD_API }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME_API }}/inventario-api:latest
            ${{ secrets.DOCKER_USERNAME_API }}/inventario-api:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME_API }}/inventario-api:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME_API }}/inventario-api:buildcache,mode=max
          

      - name: Deploy a Render (si pasan los tests y la rama es main)  
        if: success() && github.ref == 'refs/heads/main'   
        run: |
          curl -X POST ${{ secrets.RENDER_INVENTORY_DEPLOY_HOOK }}

      - name: Send Gmail Notification - Success
        if: success() && github.ref == 'refs/heads/main'
        uses: dawidd6/action-send-mail@v3
        with:
            server_address: smtp.gmail.com
            server_port: 465
            secure: true
            username: ${{ secrets.GMAIL_USERNAME }}
            password: ${{ secrets.GMAIL_APP_PASSWORD }}
            subject: ' [CI] Intregracion exitosa en main'
            to: ${{ secrets.GMAIL_USERNAME }}
            from: ${{ secrets.GMAIL_USERNAME }}
            body: |
              Hola Elvin,
              
                ✅ Los tests pasaron!.
              
              Revisa GitHub Actions para más detalles:
              ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
